<div >
  <div style='width:5%;border:black 10 px'>

  </div>
  
  <div style='width:90%'>
    <div id='room'>
      <div *ngFor="let message of messages | async" class='messagebubble center' >
        <div>
          {{ message.username  }} 
          <!-- {{ message.date.toDate() | date:"MM/dd/yyyy 'at' h:mma"  }} -->
          <hr>
          {{ message.message  }}
      
        </div>
       </div>
       </div>

  </div>
</div>





<div>

</div>

<div class="example-form">
  <mat-form-field class="full-width"  >
    <input matInput placeholder="Username" [(ngModel)] = "username">
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Comment" [(ngModel)] = "comment"></textarea>
  </mat-form-field>
  <mat-form-field class='full-width'>
      <button mat-flat-button (click)="submitcomment()" >Send Message</button>
  </mat-form-field>
</div>

