.messagebubble{

    min-width:500px;
    max-width: 300px;
    min-height:100px;
    padding:20px;
    margin-bottom:20px;
    margin-right:10px;
    text-align:left;
    background-color: #444;
    color: #fff;
    padding: 1em;
}

  #room{
    min-height:500px;
    max-height:500px;
    overflow-y:auto;
  }

  
#messagerinfo{
    border-right: 1px solid white
}




