
<perfect-scrollbar id='room'    > 
<div >
  <div *ngFor="let message of messages " class='messagebubble center' >
    

      <div class="container">
          <div class="row">
              <div class="col-sm" id='messagerinfo' >
                  <img src="{{message.picture_url}}" style='width:50px;max-height: 100%;'> <br>     
                  {{ message.username  }} <br>
                  {{message.date | date}} {{ message.date | date: 'h:mm a'}}
          
              </div>
          
              <div class="col-sm" style='text-align: left'>
                  {{ message.message  }}
              </div>        


          </div>
        </div>
    
        
      
      
      
      



  
</div>
     
</div>
</perfect-scrollbar>
<div class='grid'>

    
        
      <div class='center'>
        <mat-form-field style='width:50%'>
          <textarea class='commentform' matInput placeholder="Comment" [(ngModel)] = "comment"> </textarea>
        </mat-form-field>
        <button mat-flat-button (click)="submitcomment()" style='display:inline'>Send Message</button>
      </div>
        
      
</div>




    









