
<mat-toolbar>
  <span>Simple Chat Application</span>
  
  <span class="spacer"></span>
  <span *ngIf="Auth.user | async as user; else showLogin" [matMenuTriggerFor]="menu">
        <i class="material-icons">account_circle</i>    
        <mat-menu #menu="matMenu">
                <span mat-menu-item>{{user.displayName}}</span>
                <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
  </span>         
</mat-toolbar>



<ng-template #showLogin>
    <a class="nav-link" (click)="login()" ><i class="material-icons icon-menu">
        account_circle
    </i></a>
</ng-template>




